// background

.background {
  @include transition;

  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: -40px;
  right: -40px;
}

#farmlands {
  background-image: url('../images/farmlands.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
