// general card

.card {
  @include drop-shadow;

  border: 1px solid $shadow-color;
  background-color: $light-gray;
  width: $card-width-xs;
  margin: $card-margin;

  @include responsive('small') {
    width: $card-width-sm;
  }

  @include responsive('medium') {
    width: $card-width-md;
  }

  @include responsive('large') {
    width: $card-width-lg;
  }

  .card-title-container {
    text-align: center;
    box-sizing: border-box;
    padding: $card-title-padding;
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $highlight-color;
      }
    }
  }

  .card-title {
    @extend %title-text;
    @include text-shadow;
  }

  .card-subtitle {
    padding-top: $card-subtitle-padding;
  }

  .card-body {
    padding: $card-body-padding;

    .summary {
      text-align: center;
      padding-bottom: 2em;
    }
  }
}
