@import 'variables';

// My fonts
@each $font-name in $font-families {
  @font-face {
    $font-url: '../fonts/' + $font-name;

    font-family: $font-name;
    font-style: normal;
    font-weight: normal;
    src:
      url($font-url + '.woff2') format('woff2'),
      url($font-url + '.woff') format('woff');
  }
}

@mixin fonts($family, $size) {
  font-family: $family, sans-serif;
  font-size: $size;
}

// font styles
%title-text {
  @include fonts(
    $title-font,
    $font-title-size
  );

  @include responsive('small') {
    @include fonts(
      $title-font,
      $font-title-size-sm
    );
  }

  @include responsive('medium') {
    @include fonts(
      $title-font,
      $font-title-size-md
    );
  }

  @include responsive('large') {
    @include fonts(
      $title-font,
      $font-title-size-lg
    );
  }
}

// match copy and title font sizes
%link-text {
  @include fonts(
    $title-font,
    calc($font-copy-size - 0.1em)
  );

  @include responsive('small') {
    @include fonts(
      $title-font,
      calc($font-copy-size-sm - 0.8em)
    );
  }

  @include responsive('medium') {
    @include fonts(
      $title-font,
      calc($font-copy-size-md - 1.2em)
    );
  }

  @include responsive('large') {
    @include fonts(
      $title-font,
      calc($font-copy-size-lg - 1.8em)
    );
  }
}

%copy-text {
  @include fonts(
    $copy-font,
    $font-copy-size
  );

  @include responsive('small') {
    @include fonts(
      $copy-font,
      $font-copy-size-sm
    );
  }

  @include responsive('medium') {
    @include fonts(
      $copy-font,
      $font-copy-size-md
    );
  }

  @include responsive('large') {
    @include fonts(
      $copy-font,
      $font-copy-size-lg
    );
  }
}

// %note-text {
//   @include fonts(
//     $copy-font,
//     $font-note-size
//   );

//   @include responsive('medium') {
//     @include fonts(
//       $copy-font,
//       $font-note-size-md
//     );
//   }

//   @include responsive('large') {
//     @include fonts(
//       $copy-font,
//       $font-note-size-lg
//     );
//   }
// }
