#projects {
  .card-title-container {
    color: $white;
    background-color: $dark-red;
  }
}

.webring-container {
  @extend %note-text;

  width: 100%;
  text-align: center;

  a {
    text-decoration: none;
  }
}
