#projects {
  .card-title-container {
    background-color: $dark-red;
  }
}

.webring-container {
  text-align: center;
}

.webring {
  display: inline-block;
  background-color: $light-gray2;
  padding: 0.2em 0.5em;

  a {
    text-decoration: none;
  }
}
