@use 'sass:color';
@use 'sass:map';

// breakpoints
$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;
$breakpoints: (
  'small':  $mobile-landscape,
  'medium': $tablet,
  'large': $desktop
);

@mixin responsive($size) {
  $query: map.get($breakpoints, $size);

  @media (min-width: $query) {
    @content;
  }
}

// colors
$light-gray: color.adjust(#eee, $lightness: -5%);
$light-gray2: color.adjust(#eee, $lightness: -20%);
$dark-gray: color.adjust(#282725, $lightness: 5%);
$white: #fff;
$black: #0e1110;
$blue: #1e8bc3;
$blue2: #1f3a93;
$blue3: #52b3d9;
$blue4: color.adjust($blue2, $lightness: 15%);
$blue5: #012833;
$blue6: #0549c4;
$blue7: #043693;
$dark-blue: #070517;
$green: #00a060;
$green-alt: #049372;
$red: #f00;
$dark-red: #cf000f;
$orange: #f9690e;
$yellow: #f7ca18;
$purple: #8e44ad;
$blue-purple: #639;
$light-purple: color.adjust($purple, $lightness: -10%);

// project colors
$dark: $dark-blue;
$color1: $blue6;
$color2: $green;
$color2-alt: $green-alt;
$highlight-color: $orange;
$highlight-color2: $dark-red;
$font-text-color: $dark;

// font names
$title-font: 'CircularStd-Medium';
$copy-font: 'NittiGrotesk-Normal';
$font-families: $title-font, $copy-font;

// font styles
// $font-note-size: 0.75em;
$font-copy-size: 1em;
$font-title-size: 3em;

// $font-note-size-sm: 0.75em;
$font-copy-size-sm: 1.6em;
$font-title-size-sm: 2.5em;

// $font-note-size-md: 1em;
$font-copy-size-md: 2em;
$font-title-size-md: 3.6em;

// $font-note-size-lg: 1em;
$font-copy-size-lg: 2.6em;
$font-title-size-lg: 3.2em;

// sizes
$container-min-height: 100vh;
$card-margin: 5em;
$card-width-xs: 16em;
$card-width-sm: 16em;
$card-width-md: 21em;
$card-width-lg: 21em;
$card-title-padding: 2em;
$card-subtitle-padding: 0.5em;
$card-body-padding: 1em;
$card-shadow-len: 0.7em;
$icon-size: 0.5em;

// flair
$prefixes: webkit moz ms o;
$shadow-color: $dark;
$text-shadow-len: 0.08em;
