#index {
  .card-title-container {
    background-color: $blue7;
  }

  .links {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    .card-body {
      margin: 0 auto;
    }
  }

  %link {
    display: flex;
    flex-flow: column wrap;

    // align-items: center;
  }

  .link-entry {
    margin: 0.3em;
  }

  .link-description {
    @extend %link;

    position: relative;
    top: -0.1em;
  }

  .link-icons {
    @extend %link;
  }
}
