[submodule "mt-resume"]
	path = mt-resume
	url = git@github.com:invoqwer/mt-resume.git
[submodule "invoqwer.github.io"]
	path = invoqwer.github.io
	url = git@github.com:invoqwer/invoqwer.github.io.git
