@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nitti Grotesk';
    src: url('NittiGrotesk-Normal.woff2') format('woff2'),
        url('NittiGrotesk-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

