/*!***********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./app/styles/main.scss ***!
  \***********************************************************************************************************************************************************************/
@font-face {
  font-family: "CircularStd-Medium";
  font-style: normal;
  font-weight: normal;
  src: url(4a8d68fbb155ad26edd2.woff2) format("woff2"), url(207dabbf7e908d1bc77b.woff) format("woff");
}
@font-face {
  font-family: "NittiGrotesk-Normal";
  font-style: normal;
  font-weight: normal;
  src: url(d73d0c68336bb2cc72f8.woff2) format("woff2"), url(c1fbab995394e71593da.woff) format("woff");
}
.card .card-title {
  font-family: "CircularStd-Medium", sans-serif;
  font-size: 3em;
}
@media (min-width: 568px) {
  .card .card-title {
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
  .card .card-title {
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 3.6em;
  }
}
@media (min-width: 992px) {
  .card .card-title {
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 3.2em;
  }
}

a {
  font-family: "CircularStd-Medium", sans-serif;
  font-size: 0.9em;
}
@media (min-width: 568px) {
  a {
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 0.8em;
  }
}
@media (min-width: 768px) {
  a {
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 0.8em;
  }
}
@media (min-width: 992px) {
  a {
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 0.8em;
  }
}

body {
  font-family: "NittiGrotesk-Normal", sans-serif;
  font-size: 1em;
}
@media (min-width: 568px) {
  body {
    font-family: "NittiGrotesk-Normal", sans-serif;
    font-size: 1.6em;
  }
}
@media (min-width: 768px) {
  body {
    font-family: "NittiGrotesk-Normal", sans-serif;
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  body {
    font-family: "NittiGrotesk-Normal", sans-serif;
    font-size: 2.6em;
  }
}

body {
  padding: 0;
  margin: 0;
  color: #070517;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fa-icon {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.fa-icon.hover {
  color: #049372;
}

a {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  color: #070517;
}
a:link {
  text-decoration: underline;
}
a:hover {
  color: #cf000f;
}

.card {
  box-shadow: 0.7em 0.7em #070517;
  border: 1px solid #070517;
  background-color: #e1e1e1;
  width: 16em;
  margin: 5em;
}
@media (min-width: 568px) {
  .card {
    width: 16em;
  }
}
@media (min-width: 768px) {
  .card {
    width: 21em;
  }
}
@media (min-width: 992px) {
  .card {
    width: 21em;
  }
}
.card .card-title-container {
  text-align: center;
  box-sizing: border-box;
  padding: 2em;
  color: #fff;
}
.card .card-title-container a {
  color: #fff;
}
.card .card-title-container a:hover {
  color: #f9690e;
}
.card .card-title {
  text-shadow: 0.08em 0.08em #070517;
}
.card .card-subtitle {
  padding-top: 0.5em;
}
.card .card-body {
  padding: 1em;
}
.card .card-body .summary {
  text-align: center;
}

.background {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: -30px;
  right: -30px;
}

#farmlands {
  background-image: url(01f41d78fe91462e2ad1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#index .card-title-container {
  background-color: #043693;
}
#index .links {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
#index .links .card-body {
  margin: 0 auto;
}
#index .link-icons, #index .link-description {
  display: flex;
  flex-flow: column wrap;
}
#index .link-entry {
  margin: 0.3em;
}
#index .link-description {
  position: relative;
  top: -0.1em;
}
#projects .card-title-container {
  background-color: #cf000f;
}

.webring-container {
  text-align: center;
}

.webring {
  display: inline-block;
  background-color: #bbbbbb;
  padding: 0.2em 0.5em;
}
.webring a {
  text-decoration: none;
}

#blog .card-title-container {
  background-color: #639;
}
