/*!***********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./app/styles/main.scss ***!
  \***********************************************************************************************************************************************************************/
@font-face {
  font-family: "CircularStd-Medium";
  font-style: normal;
  font-weight: normal;
  src: url(4a8d68fbb155ad26edd2.woff2) format("woff2"), url(207dabbf7e908d1bc77b.woff) format("woff");
}
@font-face {
  font-family: "NittiGrotesk-Normal";
  font-style: normal;
  font-weight: normal;
  src: url(d73d0c68336bb2cc72f8.woff2) format("woff2"), url(c1fbab995394e71593da.woff) format("woff");
}
#title-card .name {
  font-family: "CircularStd-Medium", sans-serif;
  font-size: 6em;
}

#title-card .links {
  font-family: "CircularStd-Medium", sans-serif;
  font-size: 2em;
}

#title-card .life-calendar {
  font-family: "NittiGrotesk-Normal", sans-serif;
  font-size: 2em;
}

#title-card .latex4000Webring {
  font-family: "NittiGrotesk-Normal", sans-serif;
  font-size: 1em;
}

body {
  padding: 0;
  margin: 0;
  color: #070517;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fa-icon {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  margin-left: 0.3em;
}
.fa-icon.hover {
  color: #049372;
}

a {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  color: #070517;
}
a:link {
  text-decoration: underline;
}
a:hover {
  color: #cf000f;
}

.background {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: -40px;
  right: -40px;
}

#farmlands {
  background-image: url(01f41d78fe91462e2ad1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title-card {
  box-shadow: 0.7em 0.7em #070517;
  border: 1px solid #070517;
  background-color: #e1e1e1;
  margin: 6em auto;
  width: 40em;
}
#title-card .name-container {
  color: #fff;
  background-color: #043693;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 2.5em;
}
#title-card .name {
  text-shadow: 0.07em 0.07em #070517;
}
#title-card .life-calendar a {
  color: #fff;
}
#title-card .life-calendar a:hover {
  color: #f9690e;
}
#title-card .links {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 0.7em;
}
#title-card .link-icons, #title-card .link-description {
  display: flex;
  flex-flow: column wrap;
  margin-right: 0.7em;
}
#title-card .link-entry {
  margin: 0.2em;
}
#title-card .latex4000Webring {
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}
#title-card .latex4000Webring a {
  text-decoration: none;
}
