//- index
extends layout.pug

mixin link(href, name)
  a(href=href, target='_blank')= name

mixin fa-icon(ns, name)
  span.fa-icon
    i(class!=name class!=ns)

block content
  #index.card
    .card-title-container
      .card-title Marcus Tan
      .card-subtitle.life-calendar
        - 
          var lifetime = 90;
          var birthdate = 1995;
          var elapsed = Math.round((new Date().getFullYear() - birthdate) / lifetime * 100);
        | I am 
        +link('https://www.bryanbraun.com/your-life/weeks.html',`${elapsed}% dead`)
    .card-body
      .links
        .link-icons
          .link-entry
            +fa-icon('fas', 'fa-envelope')
          .link-entry
            +fa-icon('fas', 'fa-file-alt')
          .link-entry
            +fa-icon('fab', 'fa-linkedin')
          .link-entry
            +fa-icon('fab', 'fa-github')
          .link-entry
            +fa-icon('fab', 'fa-goodreads')
        .link-description
          //- email
          .link-entry
            +link('mailto:marcus.m.tan@gmail.com', 'marcus.m.tan@gmail.com')
          //- resume
          .link-entry
            -
              var rp = self ? 
                self.htmlWebpackPlugin.options.resumePath : resumePath;
              if (self) {
                rp = `.${rp}/index.html`; 
              }
              var rpp = self ?
                self.htmlWebpackPlugin.options.resumePdfPath : resumePdfPath;
            | resume (
            +link(rp, 'html')
            | /
            +link(rpp, 'pdf')
            | )
          //- linkedin
          .link-entry
            +link('http://www.linkedin.com/in/marcusmtan/', '/in/marcusmtan')
          //- github
          .link-entry
            +link('http://github.com/invoqwer/', 'invoqwer')
          //- goodreads
          .link-entry
            +link('http://www.goodreads.com/user/show/185831950-marcus-tan', 'reading list')