//- layout.pug
doctype html
html
  head
    script(async src='https://www.googletagmanager.com/gtag/js?id=G-B3YYC7EWH7')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B3YYC7EWH7');
    title MT
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='main.css', type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  body
    .container
      .background#farmlands
      block content
    script(src='main.js')