//- layout.pug
doctype html
html
  head
    title MT
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='main.css', type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  body#starry-night
    .dev-indicator
    include title-card.pug
    script(src='main.js')

    //- script.
    //-   var s = skrollr.init();