//- projects
extends layout.pug

block content
  #projects.card
    .card-title-container
      .card-title Projects
      .card-subtitle Krabs Brother.
    .card-body
      .summary
        I Under Construction
      .webring-container
        <div class="latex4000Webring">
          <a href="https://nonacademic.net" title="Collective">Latex 4000</a>
          <div class="latex4000WebringButtons">
            <a href="https://nonacademic.net/ring?action=prev&from=invoker" title="Previous">←</a>
            <a href="https://nonacademic.net/ring?action=rand&from=invoker" title="Random">Random</a>
            <a href="https://nonacademic.net/ring?action=next&from=invoker" title="Next">→</a>
          </div>
        </div>