//- projects
extends layout.pug

block content
  #projects.card
    .card-title-container
      .card-title Projects
      .card-subtitle Krabs Brother.
    .card-body
      .summary
        I Under Construction
      .webring-container
        <div class="latex4000Webring">
          <a href="https://latex4000.neocities.org" title="Collective">Latex 4000</a>
          <div class="latex4000WebringButtons">
            <a href="https://latex4000.neocities.org" id="latex4000Prev" title="Previous">←</a>
            <a href="#" id="latex4000Random" title="Random">Random</a>
            <a href="https://latex4000.neocities.org" id="latex4000Next" title="Next">→</a>
          </div>
          <script id="latex4000Webring" src="https://latex4000.neocities.org/webring.min.js" data-alias="invoker"></script>
        </div>